
API_KEY=U6EdldkErRsaV3E41FcYp28e3FTREk
API_SECRET=jtepTBS1y1hU7Yr38P2pyaSuXtrXMJho1ZIaamv9eTm0acDtRxcLlqlwPjy3
API_Key=U6EdldkErRsaV3E41FcYp28e3FTREk
API_Secret=jtepTBS1y1hU7Yr38P2pyaSuXtrXMJho1ZIaamv9eTm0acDtRxcLlqlwPjy3
